.login-bg-container {
  background: radial-gradient(#e0c7f3, #a0d4f5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.login-form {
  background-color: #4a148c;
  width: 100%;
  border-radius: 10px;
  padding: 20px 40px 20px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.label {
  align-self: flex-start;
  margin: 30px 10px 10px 10px;
  font-size: 24px;
  color: whitesmoke;
}

.input {
  width: 100%;
  align-self: flex-start;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  padding: 10px;
  border-radius: 6px;
  border-width: 0px;
  color: black;
  background: linear-gradient(90deg, #e0c7f3, skyblue);
  font-weight: bold;
}

#password {
  margin: 10px;
}

.login-button {
  align-self: flex-start;
  width: 100%;
  height: 35px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.login-button:hover {
  background: linear-gradient(to right, skyblue, dodgerblue);
}

.error-msg {
  color: red;
  margin: 10px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .login-form {
    width: 35%;
  }
  .input {
    width: 100%;
  }
}
